<div class="js-element">
  <img
    srcset="./img/el-1.png 1x, ./img/el-1-2x.png 2x"
    src="./img/el-1.png"
    alt="Element"
  />
</div>
<div class="js-element">
  <img
    srcset="./img/el-2.png 1x, ./img/el-2-2x.png 2x"
    src="./img/el-2.png"
    alt="Element"
  />
</div>
<div class="js-element">
  <img
    srcset="./img/el-3.png 1x, ./img/el-3-2x.png 2x"
    src="./img/el-3.png"
    alt="Element"
  />
</div>
<div class="js-element">
  <img
    srcset="./img/el-4.png 1x, ./img/el-4-2x.png 2x"
    src="./img/el-4.png"
    alt="Element"
  />
</div>
<div class="js-element">
  <img
    srcset="./img/el-5.png 1x, ./img/el-5-2x.png 2x"
    src="./img/el-5.png"
    alt="Element"
  />
</div>
<div class="js-element">
  <img
    srcset="./img/el-6.png 1x, ./img/el-6-2x.png 2x"
    src="./img/el-6.png"
    alt="Element"
  />
</div>
<div class="js-element">
  <img
    srcset="./img/el-7.png 1x, ./img/el-7-2x.png 2x"
    src="./img/el-7.png"
    alt="Element"
  />
</div>
<div class="js-element">
  <img
    srcset="./img/el-8.png 1x, ./img/el-8-2x.png 2x"
    src="./img/el-8.png"
    alt="Element"
  />
</div>
<div class="js-element">
  <img
    srcset="./img/el-9.png 1x, ./img/el-9-2x.png 2x"
    src="./img/el-9.png"
    alt="Element"
  />
</div>
<div class="js-element">
  <img
    srcset="./img/el-4.png 1x, ./img/el-4-2x.png 2x"
    src="./img/el-4.png"
    alt="Element"
  />
</div>
<div class="js-element">
  <img
    srcset="./img/el-10.png 1x, ./img/el-10-2x.png 2x"
    src="./img/el-10.png"
    alt="Element"
  />
</div>
<div class="js-element">
  <img
    srcset="./img/el-11.png 1x, ./img/el-11-2x.png 2x"
    src="./img/el-11.png"
    alt="Element"
  />
</div>
<div class="js-element">
  <img
    srcset="./img/el-12.png 1x, ./img/el-12-2x.png 2x"
    src="./img/el-12.png"
    alt="Element"
  />
</div>

<div class="js-element">
  <img
    srcset="./img/el-1.png 1x, ./img/el-1-2x.png 2x"
    src="./img/el-1.png"
    alt="Element"
  />
</div>
<div class="js-element">
  <img
    srcset="./img/el-2.png 1x, ./img/el-2-2x.png 2x"
    src="./img/el-2.png"
    alt="Element"
  />
</div>
<div class="js-element">
  <img
    srcset="./img/el-3.png 1x, ./img/el-3-2x.png 2x"
    src="./img/el-3.png"
    alt="Element"
  />
</div>
<div class="js-element not-mobile">
  <img
    srcset="./img/el-4.png 1x, ./img/el-4-2x.png 2x"
    src="./img/el-4.png"
    alt="Element"
  />
</div>
<div class="js-element not-mobile">
  <img
    srcset="./img/el-5.png 1x, ./img/el-5-2x.png 2x"
    src="./img/el-5.png"
    alt="Element"
  />
</div>
<div class="js-element not-mobile">
  <img
    srcset="./img/el-6.png 1x, ./img/el-6-2x.png 2x"
    src="./img/el-6.png"
    alt="Element"
  />
</div>
<div class="js-element not-mobile">
  <img
    srcset="./img/el-7.png 1x, ./img/el-7-2x.png 2x"
    src="./img/el-7.png"
    alt="Element"
  />
</div>
<div class="js-element not-mobile">
  <img
    srcset="./img/el-8.png 1x, ./img/el-8-2x.png 2x"
    src="./img/el-8.png"
    alt="Element"
  />
</div>
<div class="js-element not-mobile">
  <img
    srcset="./img/el-9.png 1x, ./img/el-9-2x.png 2x"
    src="./img/el-9.png"
    alt="Element"
  />
</div>
<div class="js-element not-mobile">
  <img
    srcset="./img/el-4.png 1x, ./img/el-4-2x.png 2x"
    src="./img/el-4.png"
    alt="Element"
  />
</div>
<div class="js-element not-mobile">
  <img
    srcset="./img/el-10.png 1x, ./img/el-10-2x.png 2x"
    src="./img/el-10.png"
    alt="Element"
  />
</div>
<div class="js-element not-mobile">
  <img
    srcset="./img/el-11.png 1x, ./img/el-11-2x.png 2x"
    src="./img/el-11.png"
    alt="Element"
  />
</div>
<div class="js-element not-mobile">
  <img
    srcset="./img/el-12.png 1x, ./img/el-12-2x.png 2x"
    src="./img/el-12.png"
    alt="Element"
  />
</div>
