<div class="burger">
  <button class="burger-close">
    <i class="fa-solid fa-xmark"></i>
  </button>
  <ul class="burger-nav-list">
    <li class="burger-nav-item">
      <a href="#" class="burger-nav-link">Home</a>
    </li>
    <li class="burger-nav-item">
      <a href="#about" class="burger-nav-link">Speakers</a>
    </li>
    <li class="burger-nav-item">
      <a href="#" class="burger-nav-link">Schedule</a>
    </li>
    <li class="burger-nav-item">
      <a href="#contact" class="burger-nav-link">Contact Us</a>
    </li>
  </ul>
  <button class="burger-btn">GET TICKETS</button>
</div>
