<section class="category">
  <div class="container category-container">
    <h2 class="category-title"><span>Explore</span> By Category</h2>
  </div>
  <ul class="category-list">
    <li class="category-item orange">
      <svg class="category-item-icon orange">
        <use href="../img/icons.svg#icon-Dj-Mixer"></use>
      </svg>
      <h3 class="category-item-title">Pop</h3>
      <p class="category-item-descr">
        Duis nec sodales nibh. Proin lectus tortor, rutrum vel vulputate vitae
      </p>
    </li>
    <li class="category-item red">
      <svg class="category-item-icon red">
        <use href="../img/icons.svg#icon-Bagpipes"></use>
      </svg>
      <h3 class="category-item-title">Folk</h3>
      <p class="category-item-descr">
        Duis nec sodales nibh. Proin lectus tortor, rutrum vel vulputate vitae
      </p>
    </li>
    <li class="category-item blue">
      <svg class="category-item-icon blue">
        <use href="../img/icons.svg#icon-Saxophone"></use>
      </svg>
      <h3 class="category-item-title">Instrumental</h3>
      <p class="category-item-descr">
        Duis nec sodales nibh. Proin lectus tortor, rutrum vel vulputate vitae
      </p>
    </li>
    <li class="category-item pink">
      <svg class="category-item-icon pink">
        <use href="../img/icons.svg#icon-Guitar"></use>
      </svg>
      <h3 class="category-item-title">Rock</h3>
      <p class="category-item-descr">
        Duis nec sodales nibh. Proin lectus tortor, rutrum vel vulputate vitae
      </p>
    </li>
    <li class="category-item lightblue">
      <svg class="category-item-icon lightblue">
        <use href="../img/icons.svg#icon-Trumpet"></use>
      </svg>
      <h3 class="category-item-title">Jazz</h3>
      <p class="category-item-descr">
        Duis nec sodales nibh. Proin lectus tortor, rutrum vel vulputate vitae
      </p>
    </li>
  </ul>
</section>
