<section class="plan" id="plan">
  <div class="container plan-container">
    <h2 class="plan-title">Choose a Tier that’s right for you</h2>
    <div class="plan-list-container swiper">
      <ul class="plan-list swiper-wrapper">
        <li class="plan-item dark swiper-slide" data-price="100">
          <h3 class="plan-item-title">Basic</h3>
          <p class="plan-item-price">$100</p>
          <div class="plan-item-descr">
            <p>1 Seat Available</p>
            <p>Access to Wifi Router</p>
          </div>
          <button class="plan-item-btn">Get Tickets</button>
        </li>
        <li class="plan-item blue swiper-slide" data-price="150">
          <h3 class="plan-item-title">Standart</h3>
          <p class="plan-item-price">$150</p>
          <div class="plan-item-descr">
            <p>1 Seat Available</p>
            <p>Access to Wifi Router</p>
            <p>Free Food & Coffee</p>
          </div>
          <button class="plan-item-btn">Get Tickets</button>
        </li>
        <li class="plan-item red swiper-slide" data-price="200">
          <h3 class="plan-item-title">Premium</h3>
          <p class="plan-item-price">$200</p>
          <div class="plan-item-descr">
            <p>1 Seat Available</p>
            <p>Access to Wifi Router</p>
            <p>Free Food & Coffee</p>
            <p>Pass to the party after the concert</p>
          </div>
          <button class="plan-item-btn">Get Tickets</button>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
