<section class="about" id="about">
  <div class="container about-container">
    <ul class="about-list">
      <li class="about-item">
        <div class="about-item-images">
          <img
            srcset="./img/about-1.jpg 1x, ./img/about-1-2x.jpg 2x"
            src="./img/about-1.jpg"
            alt="Image"
          />
        </div>
        <div class="about-item-content">
          <h3 class="about-item-title">About Musik</h3>
          <p class="about-item-descr">
            Fusce justo mi, vehicula id arcu et, dapibus tristique lectus.
            Vivamus a elit sodales, tincidunt nunc non, maximus lacus. Fusce a
            augue sed dolor auctor iaculis vitae id mauris. Integer ut lectus
            non neque suscipit luctus. Mauris et erat id ipsum condimentum
            cursus. Sed tempus enim non massa mattis iaculis. In quis massa
            risus
          </p>
          <button class="about-item-btn">
            Learn More
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </li>
      <li class="about-item">
        <div class="about-item-content">
          <h3 class="about-item-title">Singers</h3>
          <p class="about-item-descr">
            Fusce justo mi, vehicula id arcu et, dapibus tristique lectus.
            Vivamus a elit sodales, tincidunt nunc non, maximus lacus. Fusce a
            augue sed dolor auctor iaculis vitae id mauris. Integer ut lectus
            non neque suscipit luctus. Mauris et erat id ipsum condimentum
            cursus. Sed tempus enim non massa mattis iaculis. In quis massa
            risus
          </p>
          <button class="about-item-btn">
            View All Singers
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
        <ul class="about-item-gallery gallery-list">
          <li class="gallery-item">
            <img
              srcset="./img/signers-1.jpg 1x, ./img/signers-1-2x.jpg 2x"
              src="./img/signers-1.jpg"
              alt="Image"
              class="gallery-item-img"
            />
          </li>
          <li class="gallery-item">
            <img
              srcset="./img/signers-2.jpg 1x, ./img/signers-2-2x.jpg 2x"
              src="./img/signers-2.jpg"
              alt="Image"
              class="gallery-item-img"
            />
          </li>
          <li class="gallery-item">
            <img
              srcset="./img/signers-3.jpg 1x, ./img/signers-3-2x.jpg 2x"
              src="./img/signers-3.jpg"
              alt="Image"
              class="gallery-item-img"
            />
          </li>
          <li class="gallery-item">
            <img
              srcset="./img/signers-4.jpg 1x, ./img/signers-4-2x.jpg 2x"
              src="./img/signers-4.jpg"
              alt="Image"
              class="gallery-item-img"
            />
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
