<footer class="footer">
  <div class="container footer-container">
    <a href="#" class="footer-logo">
      <svg>
        <use href="../img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <div class="footer-bottom">
      <ul class="footer-nav">
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Home</a>
        </li>
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Company</a>
        </li>
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Blog</a>
        </li>
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Contact us</a>
        </li>
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Sitemap</a>
        </li>
      </ul>
      <ul class="footer-social">
        <li class="footer-social-item">
          <a href="#" class="footer-social-link">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="#" class="footer-social-link">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="#" class="footer-social-link">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="#" class="footer-social-link">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
      </ul>
      <p class="footer-text">© musik.com, 2024</p>
    </div>
  </div>
</footer>
