<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="header-logo">
      <svg>
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-link">
          <a href="#" class="header-nav-link">Home</a>
        </li>
        <li class="header-nav-link">
          <a href="#" class="header-nav-link">Speakers</a>
        </li>
        <li class="header-nav-link">
          <a href="#" class="header-nav-link">Schedule</a>
        </li>
        <li class="header-nav-link">
          <a href="#" class="header-nav-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <button class="header-btn">GET TICKETS</button>
  </div>
</header>
