<section class="plan">
  <div class="container plan-container">
    <h2 class="plan-title">Choose a Tier that’s right for you</h2>
    <ul class="plan-list">
      <li class="plan-item dark">
        <h3 class="plan-item-title">Basic</h3>
        <p class="plan-item-price">$100</p>
        <div class="plan-item-descr">
          <p>1 Seat Available</p>
          <p>Access to Wifi Router</p>
          <p>Free Food & Coffee</p>
        </div>
        <button class="plan-item-btn">Get Tickets</button>
      </li>
      <li class="plan-item blue">
        <h3 class="plan-item-title">Standart</h3>
        <p class="plan-item-price">$150</p>
        <div class="plan-item-descr">
          <p>1 Seat Available</p>
          <p>Access to Wifi Router</p>
          <p>Free Food & Coffee</p>
        </div>
        <button class="plan-item-btn">Get Tickets</button>
      </li>
      <li class="plan-item red">
        <h3 class="plan-item-title">Premium</h3>
        <p class="plan-item-price">$200</p>
        <div class="plan-item-descr">
          <p>1 Seat Available</p>
          <p>Access to Wifi Router</p>
          <p>Free Food & Coffee</p>
        </div>
        <button class="plan-item-btn">Get Tickets</button>
      </li>
    </ul>
  </div>
</section>
