<section class="hero">
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="hero-title">
        The Best experience of <span>music</span> in 2021
      </h1>
      <p class="hero-descr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        vitae ligula placerat, eleifend ex non, vehicula libero. Suspendisse
        eget tellus lectus.
      </p>
      <div class="hero-component">
        <a href="#" class="hero-component-link">Get Started</a>
        <button class="hero-component-video">
          <i class="fa-regular fa-circle-play"></i>
          Watch Video
        </button>
      </div>
    </div>

    <div class="hero-timer">
      <span id="days">22</span>d <span id="hours">13</span>h
      <span id="minutes">46</span>m <span id="seconds">18</span>s
    </div>
  </div>
</section>
