<section class="shorts">
  <div class="container shorts-container">
    <i class="fa-brands fa-instagram"></i>
    <h2 class="shorts-title">See our Best Shots</h2>
  </div>
  <div class="shorts-list-container swiper">
    <ul class="shorts-list swiper-wrapper">
      <li class="shorts-item swiper-slide">
        <img
          srcset="./img/shots-1.jpg 1x, ./img/shots-1-2x.jpg 2x"
          src="./img/shots-1.jpg"
          alt="Image"
          class="shorts-item-img"
        />
        <div class="shorts-item-interaction">
          <button class="shorts-item-likes">
            <i class="fa-regular fa-heart"></i>
            <snan>412</snan>
          </button>
          <button class="shorts-item-comments">
            <i class="fa-regular fa-comment"></i>
            <snan>140</snan>
          </button>
        </div>
        <p class="shorts-item-descr">Lorem Ipsum Amet</p>
        <p class="shorts-item-tags">
          #music #concert #conference #london #event #artist #dj #soundtrack
          #dance
        </p>
      </li>
      <li class="shorts-item swiper-slide">
        <img
          srcset="./img/shots-2.jpg 1x, ./img/shots-2-2x.jpg 2x"
          src="./img/shots-2.jpg"
          alt="Image"
          class="shorts-item-img"
        />
        <div class="shorts-item-interaction">
          <button class="shorts-item-likes">
            <i class="fa-regular fa-heart"></i>
            <snan>412</snan>
          </button>
          <button class="shorts-item-comments">
            <i class="fa-regular fa-comment"></i>
            <snan>140</snan>
          </button>
        </div>
        <p class="shorts-item-descr">Lorem Ipsum Amet</p>
        <p class="shorts-item-tags">
          #music #concert #conference #london #event #artist #dj #soundtrack
          #dance
        </p>
      </li>
      <li class="shorts-item swiper-slide">
        <img
          srcset="./img/shots-3.jpg 1x, ./img/shots-3-2x.jpg 2x"
          src="./img/shots-3.jpg"
          alt="Image"
          class="shorts-item-img"
        />
        <div class="shorts-item-interaction">
          <button class="shorts-item-likes">
            <i class="fa-regular fa-heart"></i>
            <snan>412</snan>
          </button>
          <button class="shorts-item-comments">
            <i class="fa-regular fa-comment"></i>
            <snan>140</snan>
          </button>
        </div>
        <p class="shorts-item-descr">Lorem Ipsum Amet</p>
        <p class="shorts-item-tags">
          #music #concert #conference #london #event #artist #dj #soundtrack
          #dance
        </p>
      </li>
      <li class="shorts-item swiper-slide">
        <img
          srcset="./img/shots-4.jpg 1x, ./img/shots-4-2x.jpg 2x"
          src="./img/shots-4.jpg"
          alt="Image"
          class="shorts-item-img"
        />
        <div class="shorts-item-interaction">
          <button class="shorts-item-likes">
            <i class="fa-regular fa-heart"></i>
            <snan>412</snan>
          </button>
          <button class="shorts-item-comments">
            <i class="fa-regular fa-comment"></i>
            <snan>140</snan>
          </button>
        </div>
        <p class="shorts-item-descr">Lorem Ipsum Amet</p>
        <p class="shorts-item-tags">
          #music #concert #conference #london #event #artist #dj #soundtrack
          #dance
        </p>
      </li>
      <li class="shorts-item swiper-slide">
        <img
          srcset="./img/shots-5.jpg 1x, ./img/shots-5-2x.jpg 2x"
          src="./img/shots-5.jpg"
          alt="Image"
          class="shorts-item-img"
        />
        <div class="shorts-item-interaction">
          <button class="shorts-item-likes">
            <i class="fa-regular fa-heart"></i>
            <snan>412</snan>
          </button>
          <button class="shorts-item-comments">
            <i class="fa-regular fa-comment"></i>
            <snan>140</snan>
          </button>
        </div>
        <p class="shorts-item-descr">Lorem Ipsum Amet</p>
        <p class="shorts-item-tags">
          #music #concert #conference #london #event #artist #dj #soundtrack
          #dance
        </p>
      </li>
    </ul>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
