<section class="contact">
  <div class="contact-container">
    <div class="contact-info">
      <h2 class="contact-info-title">Contact us</h2>
      <p class="contact-info-descr">
        Have an inquiry? We’ll be happy to assist you
      </p>
      <a href="tel: 923336527366" class="contact-info-link">
        <i class="fa-solid fa-phone"></i>
        +92 333 6527366
      </a>
      <a href="mailto: abuzer@greelogix.com" class="contact-info-link">
        <i class="fa-solid fa-envelope"></i>
        abuzer@greelogix.com
      </a>
      <a href="#" class="contact-info-link">
        <i class="fa-solid fa-location-dot"></i>
        Plot 252, Block L Phase 2 Johar Town, Lahore, PK
      </a>
    </div>
    <div class="contact-interaction">
      <h3 class="contact-interaction-title">Fill in your details</h3>
      <form class="contact-interaction-form contact-form">
        <div class="contact-form-wrap">
          <label for="user-name" class="contact-form-label">Name</label>
          <input
            name="user-name"
            id="user-name"
            type="text"
            class="contact-form-input"
            placeholder="John Doe"
          />
        </div>
        <div class="contact-form-wrap">
          <label for="user-email" class="contact-form-label">Email</label>
          <input
            name="user-email"
            id="user-email"
            type="email"
            class="contact-form-input"
            placeholder="johndoe2347@mail.com"
          />
        </div>
        <div class="contact-form-wrap">
          <label for="user-message" class="contact-form-label">Message</label>
          <textarea
            name="user-message"
            id="user-message"
            class="contact-form-input contact-form-textarea"
            placeholder="Duis nec sodales nibh. Proin lectus tortor, rutrum vel vulputate vitae, fringilla id magna."
          ></textarea>
          <button class="contact-form-btn">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>
