@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import '@fortawesome/fontawesome-free/css/all.css';

@import url('./reset.css');
@import url('./page-components/components.css');
@import url('./page-components/page-header.css');
@import url('./page-components/page-hero.css');

:root {
  --blue-color: #381ddb;
  --red-color: #fc5252;
}

:root {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.5;

  color: #222;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
