@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import '@fortawesome/fontawesome-free/css/all.css';

@import url('./reset.css');
@import url('./page-components/components.css');
@import url('./page-components/page-header.css');
@import url('./page-components/page-hero.css');
@import url('./page-components/page-category.css');
@import url('./page-components/page-about.css');
@import url('./page-components/page-plan.css');
@import url('./page-components/page-shorts.css');
@import url('./page-components/page-contact.css');
@import url('./page-components/page-footer.css');

@import url('./page-components/burger-menu.css');
@import url('./page-components/bg-elements.css');

:root {
  --blue-color: #381ddb;
  --red-color: #fc5252;
}

:root {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.5;

  color: #222;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
