.category {
  padding-top: 240px;
}

.category-title {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 60px;

  & span {
    color: var(--blue-color);
  }
}

.category-list {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  gap: 30px;
}

.category-item {
  min-width: 370px;
  width: 370px;
  padding: 90px 120px 36px 60px;
  border-radius: 24px;
  transition: background-color 0.2s ease-in-out;

  &:hover .category-item-icon {
    fill: #fff;
  }
  &:hover .category-item-title {
    color: #fff;
  }

  &:hover .category-item-descr {
    color: #fff;
  }

  &.orange {
    background-color: #db851d56;
    &:hover,
    &:focus {
      background-color: #db841d;
    }
  }

  &.red {
    background-color: #fc525263;
    &:hover,
    &:focus {
      background-color: #fc5252;
    }
  }

  &.blue {
    background-color: #391ddb67;
    &:hover,
    &:focus {
      background-color: #381ddb;
    }
  }

  &.lightblue {
    background-color: #84c4ff5d;
    &:hover,
    &:focus {
      background-color: #84c4ff;
    }
  }

  &.pink {
    background-color: #c0009662;
    &:hover,
    &:focus {
      background-color: #c00096;
    }
  }
}

.category-item-icon {
  width: 40px;
  height: 40px;

  margin-bottom: 30px;

  transition: fill 0.2s ease-in-out;

  &.orange {
    fill: #db841d;
  }

  &.red {
    fill: #fc5252;
  }

  &.blue {
    fill: #381ddb;
  }

  &.lightblue {
    fill: #84c4ff;
  }

  &.pink {
    fill: #c00096;
  }
}

.category-item-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.58333;
  transition: color 0.2s ease-in-out;
}

.category-item-descr {
  font-weight: 400;
  font-size: 16px;
  transition: color 0.2s ease-in-out;
}
